<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="baseUrl" value="https://tabitloyaltyapi-dev.azurewebsites.net/api"/>
		<add key="testUrl" value="http://localhost:8000/LoyaltyApi/api/"/>
		<add key="env" value="il"/>
		<add key="joinChannelGuid" value="7945E45A-A865-43B7-AEB6-5A83728DF9D0"/>
		<add key="accountId" value="465"/>
		<add key="excelFileName" value="DummyData.xlsx"/>
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString" 
			 connectionString="Server=shellydbint.database.windows.net;Initial Catalog=ShellyOnline_tabitInt;Persist Security Info=False;User ID=shmuel;Password=Simw1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
	</connectionStrings>
</configuration>